/* Reset margins*/
* {
  margin: 0;
}

:root {
  --accent: #cc9900;
  --text-body: #4d4d4d;
}

@font-face {
  font-family: "EuclidFlex";
  src: url("public/fonts/EuclidFlex-Regular.otf");
}

@font-face {
  font-family: "OpenSans";
  src: url("public/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/**
Mobile styles
**/

body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  font-family: "OpenSans", sans-serif;
  transition: background-color 0.4s, color 0.4s;
}

h1,
h2 {
  font-family: "EuclidFlex", sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 3rem;
}

h2 {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.intro-text {
  line-height: 1.6rem;
  color: var(--text-body);
}

.paragraph {
  line-height: 1.6rem;
  color: var(--text-body);
}

.sub-text {
  color: #777;
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

article:not(:last-child) {
  margin-bottom: 2rem;
}

.container {
  display: grid;
  gap: 3rem;
}

.skills {
  margin-top: 2rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}

a {
  color: #000;
}

a:hover {
  color: var(--accent);
}

.dash {
  color: var(--accent);
}

.highlight {
  border-bottom: 0.3rem solid var(--accent);
}

footer nav ul {
  display: flex;
  gap: 1rem;
}

.portfolio {
  display: none;
}

/**********************************
Slider
***********************************/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.5px;
  background-color: #f7f7f7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28.5px);
  -ms-transform: translateX(28.5px);
  transform: translateX(28.5px);
  background-color: #333;
  border-radius: 50%;
}

.slider.round {
  border-radius: 34px;
}

.masonry {
  column-count: 1;
  column-gap: 1rem;
  margin-top: 2rem;
}

.masonry img {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
}

.contact {
  display: none;
}

/** Dark theme styles **/

body.dark {
  background-color: #333;
  color: #fff;
}

body.dark .paragraph {
  color: #f3f3f3;
}

body.dark .intro-text {
  color: #f3f3f3;
}

body.dark .sub-text {
  color: #c3c3c3;
}

body.dark footer nav ul li a svg {
  color: #fff;
}

body.dark footer nav ul li a svg:hover {
  color: var(--accent);
}

/*******************************************/

.theme-toggle {
  margin-bottom: 1rem;
  text-align: right;
}

/**
Styles for screens over 600px wide
**/
@media screen and (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  .paragraph {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .title {
    display: block;
  }

  .intro-text {
    font-size: 1.3rem;
    line-height: 2.4rem;
  }

  .sub-text {
    font-size: 1rem;
  }

  ul li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .intro {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .container {
    text-align: left;
    max-width: 1000px;
    gap: 6rem;
  }

  .skills {
    margin-top: 0;
  }

  .showcase {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
  }

  .masonry {
    column-count: 2;
  }
}

@media print {
  .contact {
    display: flex;
    gap: 0.5rem;
  }

  .contact p:last-child::before {
    content: "|";
    color: var(--accent);
    margin-right: 0.5rem;
  }

  .other-interests {
    display: none;
  }

  article {
    page-break-inside: avoid;
  }

  .title {
    display: block;
  }

  .skills ul {
    padding: 0;
  }

  .skills ul li {
    margin-bottom: 0;
    white-space: nowrap;
    display: inline-block;
  }

  .skills ul li:not(:last-child)::after {
    content: ", ";
  }

  .skills ul li:last-child::after {
    content: ".";
  }

  footer nav ul {
    display: block;
  }

  footer a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }

  footer a::after {
    content: attr(href);
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  .portfolio {
    display: contents;
  }
}
