/* Reset margins*/
* {
  margin: 0;
}

@font-face {
  font-family: "EuclidFlex";
  src: url("/assets/fonts/EuclidFlex-Regular.otf");
}

@font-face {
  font-family: "OpenSans";
  src: url("/assets/fonts/Lora-VariableFont_wght.ttf");
}

h1,
h2 {
  font-family: "EuclidFlex", sans-serif;
}

h1 {
  font-size: 3rem;
}

.spacing-lg {
  margin-bottom: 2rem;
}

.spacing-md {
  margin-bottom: 1rem;
}

.spacing-sm {
  margin-bottom: 0.5rem;
}

header {
  margin: 20px 0;
}

main {
  margin: 50px 0;
}

article {
  margin-bottom: 30px;
}

#experience {
  flex: 2;
}

.job-info {
  display: flex;
  gap: 0.5rem;
}

/**
Mobile styles
**/

body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  font-family: "OpenSans", sans-serif;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-decoration: underline #cc9900 0.3rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.paragraph {
  margin-top: 1rem;
  line-height: 1.4rem;
  font-size: 0.875rem;
}

.sub-text {
  color: #777;
  font-size: 0.875rem;
  font-style: italic;
}

.intro {
  text-align: center;
}

.main-title {
  text-align: center;
}

.container {
  display: grid;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme {
  display: flex;
  justify-content: end;
}

/**
Styles for screens over 600px wide
**/
@media screen and (min-width: 600px) {
  .intro {
    display: flex;
    align-items: center;
    gap: 100px;
    text-align: left;
  }

  .main-container {
    display: flex;
    gap: 20px;
  }

  .container {
    text-align: left;
    max-width: 1000px;
  }

  .profile-image {
    margin-bottom: 0;
  }
}

.dot-separator {
  color: #cc9900;
}

p {
  line-height: 1.75rem;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  color: #777;
  line-height: 1.75rem;
}

ul li ul li {
  color: #999;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

ul li ul li::after {
  content: "-";
  margin-left: 5px;
}
